#!/usr/local/bin/bash

# ntop
USER=admin
PASSWD=admin

# pfSense
PF_IP=172.16.1.8
USER=root
PASSWD=pfsense

# DALORADIUS 
DR_IP=192.168.1.36
DR_SERVER=http://192.168.1.36/
DR_HTTP_USER_PASSWD=admin:admin
DR_USER=administrator
DR_PASSWD=radius
